In [1]:
import pandas as pd
import operator
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix,make_scorer,classification_report,accuracy_score
from sklearn import svm
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import roc_curve,roc_auc_score
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\zairi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
jobs1=pd.read_csv("./input/dataset/jobz.csv")
jobs2=pd.read_csv("./input/dataset/Modified.csv")
jobs3=pd.read_csv("./input/dataset/jobss.csv")
jobs2.rename(columns = {'Title':'jobtitle'}, inplace = True)
jobs2.rename(columns = {'RequiredQual':'skills'}, inplace = True)

df= pd.concat([jobs1,jobs2,jobs3])
to_drop = ['JobDescription','JobRequirment','Combined']
df.drop(to_drop, inplace=True, axis=1)
df

,jobtitle,skills
0,AUTOMATION TEST ENGINEER,SEE BELOW
1,Information Security Engineer,"linux/unix, network monitoring, incident respo..."
2,Business Solutions Architect,"Enterprise Solutions Architecture, business in..."
3,"Java Developer (mid level)- FT- GREAT culture,...",Please see job description
4,DevOps Engineer,"Configuration Management, Developer, Linux, Ma..."
...,...,...
495,Finance & OPS - Technical Consultant (dynamic...,microsoft dynamics ax| strategy implementatio...
496,Business Development Manager-digital / Export,digital marketing| international sales| inter...
497,Sr. Software Engineer,Unix| PDF| Deployment| Informatica| Oracle| T...
498,Website Designer,jQuery| Analytical| Wordpress| Conceptualizat...
499,Tech caller hiring a huge number of Executives.,Outbound| Night shift| Recruitment| iPhone| E...

In [3]:
df.shape
df.describe()

              jobtitle                                           skills
count            24262                                            24230
unique           15718                                            21002
top     Java Developer  Telecommuting not available Travel not required
freq               306                                              141

In [43]:
classes = df['jobtitle'].value_counts()
keys = classes.keys().to_list()

df =df[df['jobtitle'].isin(keys)]
df['jobtitle'].value_counts()

Java Developer               389
Project Manager              239
Accountant                   221
Software Engineer            220
Web Developer                157
                            ...
Big Data Engineer             14
UI/UX Designer                13
Quality Assurance Analyst     13
Site Reliability Engineer     13
Database Admin/Dev            13
Name: jobtitle, Length: 92, dtype: int64

In [44]:
def chane_titles(x):
    x = x.strip()
    if x == 'Senior Java Developer' :
        return 'Java Developer'
    elif x == 'Sr Java Developer' :
        return 'Java Developer'
    elif x == 'Sr. Java Developer' :
        return 'Java Developer'
    elif x == 'Senior Software Engineer':
        return 'Software Engineer'
    elif x == 'Senior QA Engineer':
        return 'Software QA Engineer'
    elif x == 'Senior Software Developer':
        return 'Senior Web Developer'
    elif x =='Senior PHP Developer':
        return 'PHP Developer'
    elif x == 'Senior .NET Developer':
        return '.NET Developer'
    elif x == 'Sr .NET Developer':
        return '.NET Developer'
    elif x == 'Sr. .NET Developer':
        return '.NET Developer'
    elif x == '.Net Developer':
        return '.NET Developer'
    elif x == 'Senior Web Developer':
        return 'Web Developer'
    elif x == 'Database Administrator':
        return 'Database Admin/Dev'
    elif x == 'Database Developer':
        return 'Database Admin/Dev'

    else:
        return x
        
    
df['jobtitle'] = df['jobtitle'].apply(chane_titles)
df['jobtitle'].value_counts()

Java Developer               389
Project Manager              239
Accountant                   221
Software Engineer            220
Web Developer                157
                            ...
Big Data Engineer             14
UI/UX Designer                13
Quality Assurance Analyst     13
Site Reliability Engineer     13
Database Admin/Dev            13
Name: jobtitle, Length: 92, dtype: int64

In [45]:
qty=df['jobtitle'].value_counts()[:5].tolist()
label=df['jobtitle'].value_counts().index.tolist()
print(qty)

print('top 5 popular jobs : '+str(df['jobtitle'].value_counts()[:5].index.tolist()))

[389, 239, 221, 220, 157]
top 5 popular jobs : ['Java Developer', 'Project Manager', 'Accountant', 'Software Engineer', 'Web Developer']

In [46]:
stopwordsSkills=[]
sk=df["skills"]
for word in sk:
    word=str(word)
    word.lower()
    word=word.split(',')
    if(word[0]!=''):
        stopwordsSkills.append(word[0])
sdf=pd.DataFrame({'skills':stopwordsSkills})

In [47]:
qtySkills=sdf["skills"].value_counts().tolist()
labelSkills=sdf['skills'].value_counts().index.tolist()
print('top 5 skills : \n'+str(sdf['skills'].value_counts()[:10]))

top 5 skills :
Java                                                                                                                      141
Customer Service                                                                                                          120
.Net                                                                                                                       64
Agile                                                                                                                      61
Analysis                                                                                                                   57
- Excellent communication skills;\r\n- Good oral and written communication skills in Armenian and English\r\nlanguages     55
- Higher education                                                                                                         33
Project Manager                                                                                                            33
C#                                                                                                                         31
Business Analyst                                                                                                           28
Name: skills, dtype: int64

In [48]:
vectorizer=TfidfVectorizer()
X=vectorizer.fit_transform(df['jobtitle'].values)
analyze=vectorizer.build_analyzer()
features=vectorizer.get_feature_names()

In [49]:
jobSkills=[]
for i in sdf["skills"]:
    jobSkills.append(i.lower())
Xclass=vectorizer.fit_transform(jobSkills)
X_train,X_test,Y_train,Y_test=train_test_split(Xclass,df['jobtitle'],test_size=0.2,random_state=42)

In [62]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.svm import SVC

svm=SVC(C=50,gamma=1,kernel='rbf',probability=True)
svmfit=svm.fit(X_train,Y_train)
svm_predictions=svmfit.predict(X_test)
classification_report(Y_test,svm_predictions)

'                                                precision    recall  f1-score   support\n\n                                .NET Developer       0.46      0.81      0.58        26\n                                    Accountant       0.60      0.63      0.61        54\n                      Administrative Assistant       0.33      0.64      0.43        22\n                                   Agile Coach       1.00      0.25      0.40         4\n                             Android Developer       1.00      1.00      1.00         6\n                         Application Developer       1.00      0.29      0.44         7\n                            Big Data Architect       1.00      0.25      0.40         4\n                             Big Data Engineer       0.00      0.00      0.00         2\n                                 Brand Manager       0.80      0.67      0.73         6\n                              Business Analyst       0.57      0.54      0.55        24\n                  Business Development Manager       1.00      0.50      0.67         2\n                      Business Systems Analyst       1.00      0.25      0.40         8\n                                 C++ Developer       0.00      0.00      0.00         8\n                              Chief Accountant       0.59      0.52      0.55        31\n                           Core Java Developer       0.50      0.75      0.60         4\n                                  Data Analyst       0.40      0.18      0.25        11\n                                Data Architect       1.00      0.57      0.73         7\n                                 Data Engineer       1.00      0.50      0.67         2\n                                Data Scientist       0.00      0.00      0.00         4\n                            Database Admin/Dev       0.00      0.00      0.00         3\n                               Desktop Support       1.00      0.67      0.80         3\n                    Desktop Support Technician       0.67      0.50      0.57         4\n                                        DevOps       1.00      0.33      0.50         3\n                               DevOps Engineer       0.64      0.44      0.52        16\n                                     Developer       0.00      0.00      0.00         2\n                          Enterprise Architect       1.00      0.50      0.67         6\n                           Executive Assistant       0.67      0.50      0.57         8\n                           Front End Developer       0.50      0.14      0.22         7\n                          Full Stack Developer       0.00      0.00      0.00         7\n                              Hadoop Developer       0.20      1.00      0.33         1\n                            IT Project Manager       0.33      0.17      0.22         6\n                                Java Developer       0.53      0.71      0.61        66\n                                        Lawyer       1.00      0.87      0.93        23\n                           Lead Java Developer       0.00      0.00      0.00         5\n                             Marketing Manager       1.00      0.26      0.41        23\n                          Marketing Specialist       0.33      0.40      0.36         5\n                        Medical Representative       0.96      0.96      0.96        26\n                              Mobile Developer       0.00      0.00      0.00         2\n                         Network Administrator       1.00      0.33      0.50         3\n                             Network Architect       0.00      0.00      0.00         2\n                              Network Engineer       0.41      0.81      0.54        16\n                                Office Manager       0.67      0.15      0.25        13\n                                    Oracle DBA       0.83      0.83      0.83         6\n                                 PHP Developer       0.71      0.71      0.71        14\n                               Product Manager       0.50      0.33      0.40         3\n                               Program Manager       0.33      0.50      0.40         4\n                           Project Coordinator       1.00      0.75      0.86         8\n                               Project Manager       0.42      0.68      0.52        41\n                              Python Developer       0.33      0.33      0.33         3\n                                   QA Engineer       0.94      0.83      0.88        18\n                     Quality Assurance Analyst       0.00      0.00      0.00         1\n        Receptionist/ Administrative Assistant       1.00      0.94      0.97        16\n   Robert Half Technology Account Executive CS       0.24      0.78      0.37         9\n   Robert Half Technology Account Executive TS       0.00      0.00      0.00         9\n    Robert Half Technology Senior Recruiter CS       0.00      0.00      0.00         7\nRobert Half Technology Technology Recruiter CS       0.00      0.00      0.00         3\nRobert Half Technology Technology Recruiter TS       0.00      0.00      0.00         3\n                                 Sales Manager       0.59      0.70      0.64        23\n                          Salesforce Developer       1.00      0.75      0.86         8\n                                  Scrum Master       1.00      1.00      1.00         2\n                              Security Analyst       1.00      0.25      0.40         4\n                             Security Engineer       0.50      0.60      0.55         5\n                         Senior .Net Developer       0.00      0.00      0.00         3\n                       Senior Business Analyst       0.00      0.00      0.00         8\n                       Senior Network Engineer       1.00      0.18      0.31        11\n                        Senior Project Manager       0.00      0.00      0.00         2\n                       Senior Systems Engineer       0.00      0.00      0.00         5\n                          SharePoint Developer       0.67      0.67      0.67         3\n                     Site Reliability Engineer       1.00      0.40      0.57         5\n                            Software Architect       0.00      0.00      0.00         3\n                            Software Developer       0.58      0.56      0.57        25\n                 Software Development Engineer       0.30      0.60      0.40        10\n                  Software Development Manager       0.00      0.00      0.00         3\n                             Software Engineer       0.19      0.43      0.27        51\n                            Solution Architect       0.00      0.00      0.00         3\n                           Solutions Architect       0.50      0.25      0.33         4\n                           Sr. Project Manager       1.00      0.20      0.33         5\n                         Sr. Software Engineer       0.00      0.00      0.00         4\n                          System Administrator       1.00      0.67      0.80         6\n                               System Engineer       0.00      0.00      0.00         4\n                         Systems Administrator       0.71      0.42      0.53        12\n                               Systems Analyst       0.00      0.00      0.00         4\n                              Systems Engineer       0.50      0.42      0.45        12\n                     Technical Project Manager       1.00      0.33      0.50         6\n                           Technical Recruiter       1.00      0.71      0.83         7\n                              Technical Writer       0.75      1.00      0.86         6\n                                  UI Developer       0.57      0.67      0.62         6\n                                UI/UX Designer       0.67      0.67      0.67         3\n                                   UX Designer       0.67      0.40      0.50         5\n                                 Web Developer       0.38      0.42      0.40        36\n                                 iOS Developer       0.50      0.50      0.50         4\n\n                                      accuracy                           0.52       925\n                                     macro avg       0.52      0.40      0.42       925\n                                  weighted avg       0.56      0.52      0.50       925\n'

In [66]:
userInput=input("skills :")
pred=vectorizer.transform([userInput])
output=svm.predict(pred)
print("you may look into " + output)

skills :linux/unix, network monitoring
['you may look into Java Developer']